server:
  address: <server_address> #run locally localhost:8080
  debug: true
  read_timeout: 10s
  write_timeout: 10s
  cors:
    allow_credentials: true
    methods: POST GET PATCH PUT DELETE
    headers: Content-Type Authorization Access-Control-Allow-Origin Access-Control-Allow-Credentials

logger:
  level: DEBUG
  type: text

google:
  auth:
    enabled: true
    client_id: <client_id>
    client_secret: <client_secret>
    redirect_url: <redirect_uri> #run locally - http://localhost:8080/v1/authenticate/auth/google/callback
    endpoint: https://accounts.google.com
    scopes: ["openid", "email", "profile"]

JWT:
  secret: RANDOM-SECRET-STRING
  lifetime: 24h

cookie_domain: <host> #run locally - localhost

database:
  user: <postgres_user>
  password: <postgres_password>
  name: <postgres_db_name>
  address: <host:port> #run locally - localhost:5432